<div class="post-card">
  <h3>Post #<%= index+1 %></h3>
  <h4 class="post-card-title">
    <%= post.title%>
  </h4>
  <p class="post-card-description">
    <%= post.text[0..120]%>
  </p>
  <div class="post-reaction-counter">
    <p class="comment-count"><span>Comments:</span> <%= post.comments_count %>,</p>
    <p class="comment-count"> <span>Likes:</span> <%= post.likes_count %> </p>
  </div>
</div>